<app-card [appBitacora]="'click-tarjeta'"></app-card>

<!--<p appResaltar [nuevoTexto]="'Soy un texto nuevo'">-->
<!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci alias ducimus enim esse-->
<!--  eveniet-->
<!--  inventore laudantium magni maxime minus neque pariatur quis quos repudiandae, sit temporibus ut voluptatem.-->
<!--</p>-->
<button [appBitacora]="'agregar-producto'">
  Agregar producto
</button>

<button [appBitacora]="'eliminar-producto'">
  Elimnar producto
</button>

<button *appMyIf="rol"> Mi boton</button>

<div>
  <br>
<button (click)="rol = 'admin'">Cambiar rol</button>
</div>

<!--<app-prueba appHighlighted class="highlighted"></app-prueba>-->
<!--<app-prueba [appHighlighted]="true"></app-prueba>-->
<!--<app-prueba  #highlighted="hl"  appHighlighted [directiveInput]="true" (toggleHighlight)="handle($event)"></app-prueba>-->
<!--<button (click)="highlighted.toggle()"> My Button</button>-->

<!--<button (click)="externalToggle()">External toggle</button>-->
