:host {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
}

div{
  padding: 1rem;
}

.info {
  background-color: #1976d2;
  color: white;
}

.danger {
  background-color: #ca8c8c;
  color: white;
}

.warning {
  background-color: #c6c675;
  color: white;
}

.success {
  background-color: darkgreen;
  color: white;
}
