<table>
  <thead>
  <tr>
    <th>id</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>maidenName</th>
    <th>todos</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.usuario.id}}</td>
      <td>{{usuario.usuario.firstName}}</td>
      <td>{{usuario.usuario.lastName}}</td>
      <td>{{usuario.usuario.maidenName}}</td>
      <td>
        <ul>
          <li *ngFor="let todo of usuario.todos">
            {{todo.todo}}
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
